body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
}
.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 1rem 8rem 4rem;
}
.hero-text {
    max-width: 50%;
}
.hero-text #hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}
.hero-text button {
    padding: 1rem 2rem;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.hero-image {
    margin-left: 4rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
}
.info {
    text-align: center;
    padding: 2rem 4rem;
}
.info #info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 2rem;
}
.info .info-cards {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.info .info-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info .info-cards .card .placeholder {
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 4px;
    border-color: #3882f6;
}
.info .info-cards .card p {
    max-width: 200px;
}
.quote {
    background-color: #e5e7eb;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}
.quote blockquote{
    text-align: center;
    font-style: italic;
    font-size: 32px;
    color: #1f2937;
}
.quote cite {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
.action {
    padding: 4rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action .modal {
    border: none;
    border-radius: 4px;
    padding: 2rem 4rem;
    background-color: #3882f6;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.action .modal .text h2 {
    color: #f9faf8;
}
.action .modal .text p {
    color: #e5e7eb;
}
.action button {
    padding: 1rem 2rem;
    background-color: #3882f6;
    color: #f9faf8;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}